# Xcode build files
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/

# Swift Package Manager
.swiftpm/
.build/
Packages/

# iOS App files to ignore
*.ipa
*.dSYM
*.dSYM.zip

# CocoaPods (not used, but in case)
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane files
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
*.swp
*.lock
*.DS_Store
*.orig
*.zip
*.tar.gz

# User-specific settings
xcuserdata/
.idea/
*.iml

# Logs
*.log
